@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-size: 60px;
}

#header-ul{
  list-style-type: none;
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 24px;

  li{
    float: left;
    padding-left: 10px;
  }
}


html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  align-items: center;
}

button {
  background-color: #00b7ff;
  border-radius: 4px;
  color: #fffcf2;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.index-box{
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  max-width: 1200px;
  margin: auto;
} .ibox1, .ibox2, .ibox3, .ibox4{
  width: 50%;
} .ibox1, .ibox3{
  padding-right: 10px;
} .ibox2, .ibox4{
  padding-left: 10px;
} .ibox1{
  margin-bottom: 30px;
}

.cards{
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  max-width: 1200px;
  margin: auto;
} .kar, .ulf, .ber, .han{
  width: 50%;
} .kar, .ber{
  padding-right: 10px;
} .ulf, .han{
  padding-left: 10px;
} .kar{
  margin-bottom: 30px;
} img:nth-child(1){
  max-width: 100%;
  height: auto;
}



@import "scss/Header.scss";
@import "scss/footer.scss";

